<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<body>
	<header th:fragment="header" id="header">

			<div class="header-top-area">
				<div class="container custom-container">
					<div class="row align-items-center">
						<div class="col-md-7">
							<div class="header-top-left">
								<ul>
									<li>Llámanos: +51 958 234 524</li>
									<li><i class="far fa-clock"></i>Horario de atención: 9:00 am - 7:00 pm (Lunes a Sábados)</li>
								</ul>
							</div>
						</div>
						<div class="col-md-5">
							<div class="header-top-right">
								<ul class="header-top-social">
									<li class="follow">Seguir :</li>
									<li><a href="/#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="/#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="/#"><i class="fab fa-instagram"></i></a></li>
									<li><a href="/#"><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sticky-header" class="menu-area">
				<div class="container custom-container">
					<div class="row">
						<div class="col-12">
							<div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
							<div class="menu-wrap">
								<nav class="menu-nav show">
									<div class="logo"><a href="#/"><img src="img/logo/logo.png" alt=""></a></div>
									<div class="navbar-wrap main-menu d-none d-lg-flex">
										<ul class="navigation">
											<li class="active"><a href="/">Inicio</a></li>
											<li><a href="/productos?pageNo=1&codigoTipoArticulo=">Productos</a></li>
											<li><a href="/adopcion">Adopción</a></li>
											<li><a href="/buscar">Buscar Reserva</a></li>
										</ul>
									</div>
									<div class="header-action d-none d-md-block">
										<ul>
											<li class="header-btn"><a class="btn" href="/reserva">Sacar Cita<img src="img/icon/w_pawprint.png" alt=""></a></li>
										</ul>
									</div>
								</nav>
							</div>
							<div class="mobile-menu">
								<nav class="menu-box">
									<div class="close-btn"><i class="fas fa-times"></i></div>
									<div class="nav-logo"><a href="#/"><img src="img/logo/logo.png" alt="" title="true"></a>
									</div>
									<div class="menu-outer">
										<ul class="navigation">
											<li class="active"><a href="/">Inicio</a></li>
											<li><a href="/productos?pageNo=1&codigoTipoArticulo=">Productos</a></li>
											<li><a href="/adopcion">Adopción</a></li>
											<li><a href="/buscar">Buscar Reserva</a></li>
										</ul>
									</div>
									<div class="social-links">
										<ul class="clearfix">
											<li><a href="/#"><span class="fab fa-twitter"></span></a></li>
											<li><a href="/#"><span class="fab fa-facebook-square"></span></a></li>
											<li><a href="/#"><span class="fab fa-pinterest-p"></span></a></li>
											<li><a href="/#"><span class="fab fa-instagram"></span></a></li>
											<li><a href="/#"><span class="fab fa-youtube"></span></a></li>
										</ul>
									</div>
								</nav>
							</div>
							<div class="menu-backdrop"></div>
						</div>
					</div>
				</div>
				<div class="header-shape" style="background-image: url(&quot;img/bg/header_shape.png&quot;);"></div>
			</div>
	</header>
</body>