<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/admin/layout}" lang="en">

<head>
    <!-- DataTables -->
    <link href="assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/libs/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- Select 2 -->
    <link href="assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css">

    <!-- Required datatable js -->
    <script src="assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="assets/libs/jszip/jszip.min.js"></script>
    <script src="assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <script src="assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Responsive examples -->
    <script src="assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <!-- Select 2 -->
    <script src="assets/libs/select2/js/select2.min.js"></script>
    <script src="assets/libs/select2/js/i18n/es.js"></script>

    <script src="assets/js/venta.js"></script>
</head>

<body>

<div layout:fragment="content" th:remove="tag">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0">NUEVO COMPROBANTE</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Ventas</a></li>
                        <li class="breadcrumb-item active">Nuevo Comprobante</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Datos del Comprobante</h4>
                    <p class="card-title-desc">Completar los datos generales del comprobante.
                    </p>
                    <form id="form_venta">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="sel_tipo_comprobante" class="form-label">Tipo Comprobante</label>
                                    <select class="form-select" id="sel_tipo_comprobante" name="sel_tipo_comprobante">
                                        <option value="TC01">Factura</option>
                                        <option value="TC02">Boleta</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="sel_serie" class="form-label">Serie</label>
                                    <select class="form-select" id="sel_serie" name="sel_serie">
                                        <option value="FE01">FE01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="txt_fecha_emision" class="form-label">Fecha Emisión</label>
                                    <input type="date" class="form-control" id="txt_fecha_emision" name="txt_fecha_emision">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="txt_fecha_vencimiento" class="form-label">Fecha Vencimiento</label>
                                    <input type="date" class="form-control" id="txt_fecha_vencimiento" name="txt_fecha_vencimiento">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="sel_cliente" class="form-label">Cliente</label>
                                    <select class="form-select select2" id="sel_cliente" name="sel_cliente">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="txt_documento" class="form-label">Documento</label>
                                    <input type="text" class="form-control" id="txt_documento" name="txt_documento" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mb-3">
                                    <label for="txt_email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="txt_email" name="txt_email" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="txt_direccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="txt_direccion" name="txt_direccion" readonly>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end card -->
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title">Detalle Comprobante</h4>
                    <p class="card-title-desc">
                        Completar el detalle del comprobante.
                    </p>

                    <table id="datatable_venta" class="table tabledinamic table-striped dt-responsive" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                        <thead>
                        <tr>
                            <th style="width: 700px;">Producto</th>
                            <th style="width: 128px;">Cantidad</th>
                            <th style="width: 113px;">UND</th>
                            <th style="width: 124px;">Precio Unitario</th>
                            <th style="width: 124px;">Precio Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" rowspan="1">
                                    <div class="form-group m-b-10">
                                        <label>Glosa</label>
                                        <textarea id="txt_glosa" rows="4" class="form-control" maxlength="250"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr id="tr_subtotal">
                                <th colspan="4" style="text-align:right" rowspan="1">Sub Total (<span class="spMoneda">S/</span>):</th>
                                <th rowspan="1" colspan="1"><input type="text" id="txt_subtotal" value="0.00" class="form-control text-end input-sm price" placeholder="Sub Total" disabled=""></th>
                            </tr>
                            <tr id="tr_igv">
                                <th colspan="3" style="text-align:right;margin-right: -20px;" rowspan="1">
                                    IGV (%):</th>
                                <th colspan="1" style="text-align:right" rowspan="1">
                                    <input type="text" id="txt_igv" value="18"  style="width: 85%;margin-left:10px;float:right;" class="form-control text-end input-sm required price pull-right" width="50" placeholder="IGV" disabled="">
                                </th>
                                <th rowspan="1" colspan="1"><input type="text" id="txt_monto_igv" value="0.00" class="form-control text-end input-sm price" placeholder="Sub Total" disabled=""></th>
                            </tr>
                            <tr>
                                <th colspan="4" style="text-align:right" rowspan="1">Total (<span class="spMoneda">S/</span>):</th>
                                <th rowspan="1" colspan="1"><input type="text" id="txt_total" value="0.00" class="form-control text-end input-sm price" placeholder="Total" disabled=""></th>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="button-save">
                        <button id="btn_guardar" type="button" class="btn btn-info btn-rounded waves-effect waves-light">Guardar</button>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->

</div>
</body>
</html>